pipeline/pl_load_dimproduct.json
{
	"name": "pl_load_dimproduct",
	"properties": {
		"activities": [
			{
				"name": "Copy data for dimproduct",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set vStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT tvs.ProductID,tvs.[Product],dmc.PKMarketCategoryID as FKMarketCategoryID\nFROM [stg].[StagingTVS] as tvs\nINNER JOIN\nDW.DimMarketCategory as dmc on tvs.MarketCategoryID=dmc.MarketCategoryID\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"ProductID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_tvsdw_naveen",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sink_dimproduct",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set vStartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vStartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure on sucess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data for dimproduct",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[EDWDBA].[InsertPipelineLogs_N]",
					"storedProcedureParameters": {
						"PipelineID": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Copy data for dimproduct').output.dataread",
								"type": "Expression"
							},
							"type": "Int16"
						},
						"RowsWritten": {
							"value": {
								"value": "@activity('Copy data for dimproduct').output.datawritten",
								"type": "Expression"
							},
							"type": "Int16"
						},
						"StartTime": {
							"value": {
								"value": "@variables('vStartTime')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Duration": {
							"value": null,
							"type": "Int16"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorDesc": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_tvsdw_naveen",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure on fail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data for dimproduct",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[EDWDBA].[InsertPipelineLogs_N]",
					"storedProcedureParameters": {
						"PipelineID": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Copy data for dimproduct').rowsread",
								"type": "Expression"
							},
							"type": "Int16"
						},
						"RowsWritten": {
							"value": {
								"value": "@activity('Copy data for dimproduct').rowswritten",
								"type": "Expression"
							},
							"type": "Int16"
						},
						"StartTime": {
							"value": {
								"value": "@variables('vStartTime')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Duration": {
							"value": null,
							"type": "Int16"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('Copy data for dimproduct').errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorDesc": {
							"value": {
								"value": "@activity('Copy data for dimproduct').errormessage",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_tvsdw_naveen",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"vStartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Naveen/upsert"
		},
		"annotations": []
	}
}