pipeline/pl_load_factsales.json
{
	"name": "pl_load_factsales",
	"properties": {
		"activities": [
			{
				"name": "Copy data for factsales",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set vStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT\n    dd.[PKDateID] AS FKDateID,\n    div.PKDivisionID AS FKDivisionID,\n    dealer.PKDealerID AS FKDealerID,\n    dp.PKProductID AS FKProductID,\n    ds.PKShipperID AS FKShipperID,\n    tvs.Quantity,\n    tvs.UnitPrice,\n    tvs.Discount\nFROM \n    [stg].[StagingTVS] AS tvs\nINNER JOIN\n    DW.DimDate AS dd ON tvs.OrderDate = dd.[Date]\nINNER JOIN\n    DW.DimDivision AS div ON tvs.DivisionID = div.DivisionID\nINNER JOIN\n    DW.DimDealer AS dealer ON tvs.DealerID = dealer.DealerID\nINNER JOIN\n    DW.DimProduct AS dp ON tvs.ProductID = dp.ProductID\nINNER JOIN\n    DW.DimShipper AS ds ON tvs.ShipperID = ds.ShipperID;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"Quantity"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_tvsdw_naveen",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sink_factsale",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set vStartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vStartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedureon sucess",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data for factsales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[EDWDBA].[InsertPipelineLogs_N]",
					"storedProcedureParameters": {
						"PipelineID": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Copy data for factsales').output.dataread",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RowsWritten": {
							"value": {
								"value": "@activity('Copy data for factsales').output.datawritten",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"StartTime": {
							"value": {
								"value": "@variables('vStartTime')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Duration": {
							"value": null,
							"type": "Int64"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorDesc": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_tvsdw_naveen",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure on fail",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data for factsales",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[EDWDBA].[InsertPipelineLogs_N]",
					"storedProcedureParameters": {
						"PipelineID": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Copy data for factsales').rowsread",
								"type": "Expression"
							},
							"type": "Int16"
						},
						"RowsWritten": {
							"value": {
								"value": "@activity('Copy data for factsales').rowswritten",
								"type": "Expression"
							},
							"type": "Int16"
						},
						"StartTime": {
							"value": {
								"value": "@variables('vStartTime')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Duration": {
							"value": null,
							"type": "Int16"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('Copy data for factsales').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorDesc": {
							"value": {
								"value": "@activity('Copy data for factsales').errormessage",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_tvsdw_naveen",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"vStartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Naveen/upsert"
		},
		"annotations": []
	}
}