pipeline/pl_load_dimmarket.json
{
	"name": "pl_load_dimmarket",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[DW].[usp_load_stg_DimMarket_NN]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_tvsdw_naveen",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_sink_dimmarket",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vStartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DW].[usp_load_stg_DimMarket_NN]",
					"storedProcedureParameters": {
						"PipelineID": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Copy data1').output.dataread",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RowsWritten": {
							"value": {
								"value": "@activity('Copy data1').output.datawritten",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"StartTime": {
							"value": {
								"value": "@variables('vStartTime')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Duration": {
							"value": null,
							"type": "Int64"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorDesc": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_tvsdw_naveen",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored procedure2",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DW].[usp_load_stg_DimMarket_NN]",
					"storedProcedureParameters": {
						"PipelineID": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Copy data1').output.rowsread",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RowsWritten": {
							"value": {
								"value": "@activity('Copy data1').output.rowswritten",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"StartTime": {
							"value": {
								"value": "@variables('vStartTime')",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"Duration": {
							"value": null,
							"type": "Int64"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('Copy data1').error.errorcode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorDesc": {
							"value": {
								"value": "@activity('Copy data1').errormessage",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_tvsdw_naveen",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"vStartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Naveen/upsert"
		},
		"annotations": []
	}
}