pipeline/pl_stg_LoadDimMarket.json
{
	"name": "pl_stg_LoadDimMarket",
	"properties": {
		"activities": [
			{
				"name": "Copydata_stg_DimMarket",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT MarketID,Market\nFROM [stg].[StagingTVS_Sundar]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"MarketID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_Staging",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_DimMarket",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copydata_stg_DimMarket",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[DW].[InsertPipelineLog]",
					"storedProcedureParameters": {
						"PipelineID": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							}
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							}
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Copydata_stg_DimMarket').output.dataRead",
								"type": "Expression"
							}
						},
						"RowsWritten": {
							"value": {
								"value": "@activity('Copydata_stg_DimMarket').output.dataWritten",
								"type": "Expression"
							}
						},
						"StartTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"ErrorID": {
							"value": null
						},
						"ErrorDesc": {
							"value": null
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_tvsdw_Sundar",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"folder": {
			"name": "Sundar/Upsert"
		},
		"annotations": []
	}
}