pipeline/pl_stg_factsales_sp.json
{
	"name": "pl_stg_factsales_sp",
	"properties": {
		"activities": [
			{
				"name": "Copy_Stg_FactSales_SP",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set vStartTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[DW].[usp_load_factsales_KV]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "upsert",
						"upsertSettings": {
							"useTempDB": true,
							"keys": [
								"FKOrderDateID",
								"FKShippingDateID",
								"FKDeliveryDateID",
								"FKDivisionID",
								"FKDealerID",
								"FKProductID",
								"FKShipperID"
							]
						},
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_tvsdw_kumar",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_factsales",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "sp_pipelinelog_success",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_Stg_FactSales_SP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[EDWDBA].[InsertPipelineLog_KV]",
					"storedProcedureParameters": {
						"PipelineID": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Copy_Stg_FactSales_SP').output.rowsread",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RowsWritten": {
							"value": {
								"value": "@activity('Copy_Stg_FactSales_SP').output.rowscopied",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"StartTime": {
							"value": {
								"value": "@formatDateTime(variables('vStartTime'))",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"ErrorID": {
							"value": null,
							"type": "String"
						},
						"ErrorDesc": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_tvsdw_kumar",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set vStartTime",
				"description": "Pipeline StartTime",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vStartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "sp_pipelinelog_failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_Stg_FactSales_SP",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[EDWDBA].[InsertPipelineLog_KV]",
					"storedProcedureParameters": {
						"PipelineID": {
							"value": {
								"value": "@pipeline().GroupId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineName": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Copy_Stg_FactSales_SP').output.rowsread",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"RowsWritten": {
							"value": {
								"value": "@activity('Copy_Stg_FactSales_SP').output.rowscopied",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"StartTime": {
							"value": {
								"value": "@formatDateTime(variables('vStartTime'))",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"ErrorID": {
							"value": {
								"value": "@activity('Copy_Stg_FactSales_SP').error.errorCode",
								"type": "Expression"
							},
							"type": "String"
						},
						"ErrorDesc": {
							"value": {
								"value": "@activity('Copy_Stg_FactSales_SP').error.message",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_tvsdw_kumar",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"vStartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Kumar/Upsert"
		},
		"annotations": []
	}
}