pipeline/pl_tvsdw_fact_sg.json
{
	"name": "pl_tvsdw_fact_sg",
	"properties": {
		"activities": [
			{
				"name": "Rowcount",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_tvsdw_sathish",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "SELECT COUNT(1) AS 'RowCount' FROM DW.FactSales_SG"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "IfCondition",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Rowcount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Rowcount').output.resultSets[0].rows[0].Rowcount,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Sathish/Framework"
		},
		"annotations": []
	}
}